<div class="container mx-auto mt-3">
    <div class="flex flex-wrap">

		<!-- Matchmaking -->
		<div class="w-full px-4">
			<div class="mb-4 p-2 rounded-full px-8 shadow bg-gray-700 text-gray-200">
				<div class="flex flex-wrap">
					<div class="w-full md:w-1/2 text-center md:text-left my-auto">
						<div ng-show="$root.session.inQueue">
							You are currently in queue with <span class="font-semibold">{{ getMatchmakingStatistics.count }}</span> player(s)!
						</div>
						<div ng-show="!$root.session.inQueue">
							There are currently <span class="font-semibold">{{ getMatchmakingStatistics.count }}</span> player(s) searching for a game!
						</div>
					</div>
					<div id="MatchMaking" class="w-full md:w-1/2">
						<div class="text-center md:float-right">
							<div ng-show="$root.session.inQueue">
								<i class="fa fa-circle-o-notch fa-spin"></i> Searching ({{ getQueueTime }}s)
								<button type="button" class="p-2 px-4 mr-2 font-semibold bg-gray-600 text-gray-100 hover:bg-gray-500 rounded-full" ng-click="exitQueue()">Leave Queue</button>
							</div>
							<div ng-show="!$root.session.inQueue">
								<form method="post" name="createMatch" ng-submit="onQueue()">
									<input id="queuePlayer1" type="text" class="p-2 px-4 mr-2 bg-gray-900 placeholder-gray-300 text-gray-100 border-2 border-gray-600" name="queuePlayer" ng-model="formData.queuePlayer" placeholder="IGN or PIN" ng-trim="false" required />
									<select class="p-2 px-4 mr-2 bg-gray-900 text-gray-100 placeholder-gray-300 border-2 border-gray-600" ng-model="formData.queueRegion" required>
										<option value="">Region</option>
										<option value="NA">North America</option>
										<option value="SA">South America</option>
										<option value="EU">Europe</option>
										<option value="ASIA">Asia</option>
										<option value="OCE">Oceania</option>
									</select>
									<button type="submit" class="p-2 px-4 font-semibold bg-indigo-600 text-gray-100 hover:bg-indigo-500 rounded-full">Join Queue</button>
								</form>
							</div>
						</div>
					</div>
					<div id="MatchMakingFound" class="w-1/2" style="display: none;">
						<div class="float-right">
							<i class="fa fa-circle-o-notch fa-spin"></i> Match found, creating your lobby!
						</div>
					</div>
				</div>
			</div>
		</div>

    	<div class="w-full md:w-1/2 p-4">
			<div class="bg-gray-700 p-6 text-gray-100 border border-gray-800 shadow-lg">
				<h2 class="my-3 text-center text-4xl font-semibold">
					Create a Match
				</h2>
				<form method="post" name="createMatch" ng-submit="onSubmit()">
					<label for="player1_" class="block text-xl">You</label>
					<input id="player1_" type="text" class="block w-full p-2 px-4 bg-gray-900 text-white placeholder-gray-300 border-2 border-gray-600 mb-3" name="player1" ng-model="formData.player1" placeholder="Liquid rapha" required />

					<label for="player2_" class="block text-xl">Opponent</label>
					<input id="player2_" type="text" class="block w-full p-2 px-4 bg-gray-900 text-gray-100 placeholder-gray-300 border-2 border-gray-600 mb-3" name="player2" ng-model="formData.player2" placeholder="AMD.COOLLERZ" required />

					<label for="bestof_" class="block text-xl">Best of</label>
					<select id="bestof_" class="block w-full p-2 px-4 bg-gray-900 text-gray-100 placeholder-gray-300 border-2 border-gray-600 mb-3" name="bestof" ng-model="formData.bestof" ng-options="key as value for (key, value) in optionsBO" required></select>

					<label for="seedings_" class="block text-xl">First Seed</label>
					<select id="seedings_" class="block w-full p-2 px-4 bg-gray-900 text-gray-100 placeholder-gray-300 border-2 border-gray-600 mb-3" ng-model="formData.seedings">
						<option value="">Random</option>
						<option value="1">You</option>
						<option value="2">Opponent</option>
					</select>

					<label for="format_" class="block text-xl">Format</label>
					<select id="format_" class="block w-full p-2 px-4 bg-gray-900 text-gray-100 placeholder-gray-300 border-2 border-gray-600 mb-3" ng-model="formData.format">
						<option value="">Practice</option>
						<option value="1">Tournament</option>
					</select>

					<label for="pwd_" class="block text-xl">Passphrase <small>(do not use a real password)</small></label>
					<input id="pwd_" type="password" class="block mb-5 w-full p-2 px-4 bg-gray-900 text-gray-100 placeholder-gray-300 border-2 border-gray-600" name="pwd" ng-model="formData.pwd" placeholder="***********" required />

					<input type="submit" class="w-full p-2 px-4 font-semibold bg-indigo-600 text-gray-100 hover:bg-indigo-700 rounded-full" value="Start Match" />
				</form>
			</div>
		</div>

		<div class="w-full md:w-1/2 p-4">

			<div class="flex flex-wrap">
				<div class="w-full bg-gray-700 border-gray-600 border shadow text-gray-100 hover:bg-gray-600 p-3 mb-2" ng-repeat="match in getMatches">
					<a ng-href="#!/match/{{ match.uuid }}">
						<div class="banner" ng-href="#!/match/{{ match.uuid }}"></divclass>
							<span class="font-semibold">{{ match.player1 }}</span>
							vs
							<span class="font-semibold">{{ match.player2 }}</span>
							<div class="float-right text-muted">
								{{ match.jsDatetime | date:'dd-MM-yyyy' }}
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>

		<div class="py-4 mx-auto text-gray-100 text-lg" style="opacity: 0.6">
			<span class="font-semibold">{{ getStatistics.games_today }}</span> matches in the last 24 hours, <span class="font-semibold">{{ getStatistics.games_all }}</span> created since 7/7/2019.
		</div>
		
    </div>
</div>