html { }
body { background: #0d2738; color: #eee; }

input::-webkit-input-placeholder { color: #ccc !important; }
input:-moz-placeholder { color: #ccc !important; }
input::-moz-placeholder { color: #ccc !important; }
input:-ms-input-placeholder { color: #ccc !important; }


.form-control { background: transparent; border: none; color: #ddd;  border: 3px solid #0d2738; }
.form-control:focus, .form-control:hover { background: transparent; color: #eee; border: none; border: 3px solid #0d2738; }

option { background: #0d2738; color: #eee; }
select:hover, select:focus { color: #888 !important; }

.card { background: #122d42; }
.card-highlight { border: 1px solid #45AEFF; }

.banner { background: #122d42; color: #ccc; padding: 0.75rem; }
.banner-inverse { background: #0d2738 !important; }

.strong { font-weight: 700; }

.bg-light { background: #122d42 !important; }

.fa-times { color: #dc3545; }
.fa-check { color: #28a745; }

.border-green { border-color: #28a745 !important; }
.border-red { border-color: #dc3545 !important; }
.red { color: #dc3545; }

.modal-content { background: #122d42; border: 2px solid #0d2738; color: #eee; }

.form-control:disabled, .form-control[readonly] {
    background: #0d2738; color: #eee;
}

a { color: inherit; text-decoration: none !important; }

a > .banner:hover, a > .banner:focus { opacity: 0.7; }
.copypasta { background: #0d2738; padding: 1.5rem; }
#chat { position: relative; background: #0d2738; padding: 0.5rem; overflow-y: auto; height: 200px; }
#chat .message { font-size: 0.8rem; color: #ccc; bottom: 0; }
#chat .author { font-size: 0.8rem; font-weight: 600; color: #eee; }

.chatbox-form { border-top: 3px solid #122d42; }

.card-border { border: 2px solid #ccc; }

.btn-outline-default {
    color: #ccc;
    border-color: #0d2738;
    border-width: 3px;
}

.btn-outline-default-left { 
    border-left: 0;
}

.btn-normal {
  background:none;
  color:inherit;
  border:none; 
  padding:0!important;
  font: inherit;
  cursor: pointer;
}

/* Scrollbars */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #112C40; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #296999; 
  }