@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900;
}

.animation-short {
  @apply transition ease-in-out duration-100;
}

.animation-long {
  @apply transition ease-in-out duration-200;
}

.create-screen {
  height: 83vh;
}

.form-control {
  @apply block w-full p-2 text-gray-200 bg-gray-900;
}

.form-control:select:active {
  @apply text-black;
}

.form-control:focus {
  @apply outline-none;
}

.form-control::placeholder {
  @apply text-gray-300;
}

.bg-black-40 {
  background: rgba(0, 0, 0, 0.40);
}

.bg-black-20 {
  background: rgba(0, 0, 0, 0.20);
}

.bg-black-15 {
  background: rgba(0, 0, 0, 0.15);
}

.bg-black-10 {
  background: rgba(0, 0, 0, 0.1);
}

.hover-bg-black-35:hover {
  background: rgba(0, 0, 0, 0.35);
}

.hover-bg-black-20:hover {
  background: rgba(0, 0, 0, 0.20);
}

.hover-bg-black-15:hover {
  background: rgba(0, 0, 0, 0.15);
}

.hover-bg-black-10:hover {
  background: rgba(0, 0, 0, 0.1);
}

.btn-small {
  @apply px-2 py-1 rounded-full font-semibold;
}
.btn-small-medium {
  @apply px-4 py-2 rounded-full font-semibold;
}
.btn-small-large {
  @apply px-5 py-3 rounded-full font-semibold;
}

.btn-small-blue {
  @apply bg-blue-600 text-blue-100;
}
.btn-small-blue:hover {
  @apply bg-blue-700;
}

.btn-small-red {
    @apply bg-red-600 text-red-100;
}
.btn-small-red:hover {
    @apply bg-red-700;
}

.btn-small-green {
    @apply bg-green-600 text-green-100;
}
.btn-small-green:hover {
    @apply bg-green-700;
}